
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* BODY */
body {
    line-height: 1.6;
    background: #f4f7f6;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    position: sticky;
    top: 0;
    color: black;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.nav-links a:hover {
    color: gray;
}

#hero {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background: url('smartwatch.webp') center/cover no-repeat;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    background-color: white;
}

.feature-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    #navbar {
        flex-direction: column;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
    }
}

#testimonials {
    background: #f8fafc;
    padding: 60px 10%;
    text-align: center;
}

#testimonials h2 {
    margin-bottom: 30px;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#contact {
    background: white;
    color: black;
    padding: 60px 10%;
    text-align: center;
}

.form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form input,
.form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.form button {
    background: #2563eb;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form button:hover {
    background: #1e40af;
}

#backToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#promo {
    background: #1e293b;
    color: white;
    text-align: center;
    padding: 50px;
}

#timer {
    font-size: 2rem;
    margin-top: 10px;
    color: #fbbf24;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 15px;
    background: #111;
    color: white;
}